*{
    background-color: lavender;
}
.nav-link{
    border: 2px solid transparent;
    background-color: honeydew;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 1rem solid whitesmoke;
    position: relative;

}
.education .box-container .box span{
    font-size: 1.3rem;
    background: black;
    color:cyan;
    border-radius: 2rem;
    padding: 0.4rem;

}
.education .box-container .box h3{
    font-size: 2.2rem;
    color: crimson;
    padding-top: 1.5rem;
}
.education .box-container .box p{
    font-size: 1.3rem;
    color: black;
    padding: 1rem;
}
.education h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 3rem;
    color: saddlebrown;
    
}
